body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffefd5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .background_image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    background: url('/firewatch.avif');
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
    background-size: cover;
  }

  
  .container {
    max-width: 40vw;
    width: 100%;
    padding: 10vh;
    margin: 1vh;
    border: 0.1vw solid #ddd;
    border-radius: 0.8vw;
    box-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.1); /* 5px shadow */
    background-color: #ff6347; /* Tomato background color */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    font-size: 2.5vw;
    color: white;
    margin-bottom: 2vh;
    text-align: center;
  }
  
  .subheading {
    font-size: 1.5vw;
    color: white;
    margin-bottom: 2vh;
    text-align: center;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    width: 100%;
    margin-bottom: 1.5vh;
    text-align: center; /* Center the text within the form group */
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5vh;
    font-weight: bold;
    color: white;
    text-align: center; /* Center the label text */
  }
  
  .input,
  .textarea {
    width: 80%; /* Adjust width as needed */
    padding: 1vh;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    box-sizing: border-box;
    font-size: 1.6vw;
    margin: 0 auto; /* Center the input and textarea */
  }
  
  .textarea {
    resize: vertical;
  }
  
  .button {
    font-weight : bold;
    padding: 1vh 2vw;
    margin-bottom: 1.5vh;
    border: none;
    border-radius: 0.4vw;
    background-color: var(--mantine-color-red-6);
    color: white;
    font-size: 1.6vw;
    cursor: pointer;
    text-align: center;
    margin-top: 1vh;
    display: inline-flex;
  }
  
  a {
    text-decoration: none !important;
    color: white;
  }  
  .button:hover {
    background-color: #d32f2f;
  }
  /* .backButtonContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #007bff;
    border-radius: 8px;
  } */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }